html, body, .page-header, .modal-dialog, .post-header .toolbox{
    background-color: #f8f1e3;
    letter-spacing: -0.01em;
    word-spacing: 0.2em;
    font-family: Georgia, serif;
    color: #111111;
}
.article-content p {
    color: #111111;
}
.content {
    border-left: 4px solid #f3e8d3;
}
.article-content blockquote {
    padding: 2px 15px;
    border-left: 5px solid #e0dfcc;
    background-color: #f5f2f0;
}
.box-prev-next {
    margin-top: 0;
    margin-bottom: 70px;
}
.box-prev-next .icon {
    line-height: 24px;
}
.article-content h1 {
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d3;
}
.toc-article{
    width: 200px;
}
.toolbox .toolbox-entry, .toolbox-mobile {
    box-shadow: 2px 5px 15px #777;
}
.box-prev-next .icon {
    margin-top: 4px;
}
.article-content img {
    border: 0.2em solid #e0dfcc;
    border-radius: 10px;
}
code {
    padding: 2px 7px;
    vertical-align: inherit;
    margin: 0 5px;
}
/******************* code style begin *********************/
code, pre, samp {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    color: black;
    background-color: #ffdce2;
}
figure.highlight{
    padding: 12px;
    border: 0.2em solid #e0dfcc;
    border-radius: 10px;
    background-color: #f5f2f0;
}
.highlight pre {
    line-height: 1.5em;
    overflow-y: hidden;
    white-space: pre; /*代码自动缩进*/
    word-wrap: normal;
}
.highlight .gutter pre {
    padding-right: 15px;
}
/******************* code style end *********************/
.footer {
    position: absolute;
    left: 50%;
    /*bottom: 0;*/
    width: 760px;
    margin: 10px auto 20px -380px;
    padding-top: 10px;
    font-size: 0.9em;
    color: #555;
    border-top: 1px solid #d3d3d3;
}
.footer a{
    color: #2f73b7;
}
.page-home .footer {
    display: none;
}
.page-archives .footer, .page-category .footer, .page-tag .footer, .page-about .footer, .page-search .footer {
    width: 500px;
    margin: 10px auto 20px -250px;
}
.toolbox-mobile {
    bottom: 60px;
}
@media screen and (max-width: 767px) {
    .footer {
        position: relative;
        width: 96% !important;
        left: 0;
        margin: 2% !important;
        padding-top: 10px;
        font-size: 0.9em;
        color: #555;
        border-top: 1px solid #d3d3d3;
    }
}